@font-face {
    font-family: BTitrBold;
    src: url("../fonts/BTitrBold.ttf") format("truetype");
}

@font-face {
    font-family: BKoodak;
    src: url("../fonts/BKoodak.ttf") format("truetype");
}

@font-face {
    font-family: BNazanin;
    src: url("../fonts/BNazanin.ttf") format("truetype");
}

@font-face {
    font-family: BNazaninBold;
    src: url("../fonts/BNazaninBold.ttf") format("truetype");
}

* {
    font-family: BKoodak, Arial;
    font-size: 20px;
    direction: rtl;
}

p {
    color: #1AAA;
}

#normal-text {
    color: #36a67f;
}

#system-name {
    color: #0cae1c;
}

#div-form {
    color: #f5f1ef;
}

#error {
    color: #ff0b0b;
}

body {
    /*background-image: url(../pics/bg.jpg)*/
    background: url(../pics/bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    /*background-repeat: no-repeat;*/
    /*background-size: 500px 400px;*/
    /*background-image: url("https://www.freepik.com/free-vector/purple-and-pink-halftone-background-vector_3601910.htm")*/
}

#table-header {
    font-family: "XB Zar";
    color: green;
}

h1 {
    font-family: BTitrBold, Arial;
    color: #1c258b;
}

.special-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(1, 3, 6, 0.96);
    color: white;
    text-align: center;
    opacity: 0.25;
    z-index: -1;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    align-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button {
    padding: 60px 60px;
}

#dashboard_panel {
    /*margin: 15% auto;*/
    /*padding: 20px;*/
    /*border: 1px solid #888;*/
    /*width: 50%;*/
    height: 30%;
    overflow: auto; /* Enable scroll if needed */

}

#search_panel {
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    overflow: auto; /* Enable scroll if needed */

}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
}

.lala {
    overflow: auto;
}