@font-face {
    font-family: BTitrBold;
    src: url("../fonts/BTitrBold.ttf") format("truetype");
}

@font-face {
    font-family: BKoodak;
    src: url("../fonts/BKoodak.ttf") format("truetype");
}

@font-face {
    font-family: BNazanin;
    src: url("../fonts/BNazanin.ttf") format("truetype");
}

@font-face {
    font-family: BNazaninBold;
    src: url("../fonts/BNazaninBold.ttf") format("truetype");
}

* {
    font-family: BKoodak, Arial;
    font-size: 20px;
    direction: rtl;
}

p {
    color: #1AAA;
}

#normal-text {
    color: #36a67f;
}

#system-name {
    color: #0cae1c;
}

#div-form {
    color: #f5f1ef;
}

body {
    background-image: url(../pics/bg.jpg)
    /*background-image: url("https://www.freepik.com/free-vector/purple-and-pink-halftone-background-vector_3601910.htm")*/
}

#table-header {
    font-family: "XB Zar";
    color: green;
}

h1 {
    font-family: BTitrBold, Arial;
    color: #1c258b;
}