* {
    /*color: #555200;*/
    font-family:'XB Niloofar', 'Arial';
}

p {
    color:#1AAA;
}

#university-brand {
    color:seagreen;
}

body {
    background-image: url("/base/static/pics/bg.png")
}

#table-header {
    font-family: "XB Zar";
    color: green;
}
