{% extends 'base/user_base.html' %}
<head><title>داشبورد کاربر</title></head>

{% load staticfiles %}
{% load static %}
{% block content %}
    {% block user_header %}
        <div id="panel-header" align="center"><h2>اطلاعات کاربر</h2></div>
    {% endblock %}

    {% if messages %}
        <ul class="alert messages alert-success alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="panel-group col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-info col-md-3 col-sm-12">
            <div class="panel-heading">
                <div class="text-center">
                    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="250" height="250"
                         onerror="this.src='{% static "pics/default-user.jpg" %}'">
                </div>
            </div>
            {#            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" align="center"><img#}
            {#                    src={{ user.socialaccount_set.all.0.get_avatar_url }}>#}
            {#            </div>#}
            <div align="center">:Username</div>
            <div align="center" class="panel-body">{{ shopping_user.user }}</div>
            <div></div>
        </div>

        <div id="dashboard_panel" class="panel panel-info col-md-9 col-sm-12">
            <div class="panel-heading">{{ user.socialaccount_set.all.0.extra_data.name }} {{ shopping_user.first_name }} {{ shopping_user.last_name }}</div>

            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="شماره تلفن"
                                             value="{{ shopping_user.phone_number }}"></div>
                <div class="col-xs-6">شماره تلفن:‌</div>
            </div>

            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="ایمیل"
                                             value="{{ user.socialaccount_set.all.0.extra_data.email }} {{ shopping_user.email }}">
                </div>
                <div class="col-xs-6">ایمیل:‌</div>
            </div>
            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="استان"
                                             value="{{ shopping_user.province }}"></div>
                <div class="col-xs-6">استان:‌</div>
            </div>
            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="شهر"
                                             value="{{ shopping_user.city }}"></div>
                <div class="col-xs-6">شهر:‌</div>
            </div>

        </div>
    </div>

    <div style="position:absolute; margin-top: 320px; margin-right: 30px;">

        <div class="row">
            <div class="panel-group col-md-12 col-sm-12 col-lg-12">
                <div id="product_panel" class="panel panel-info col-md-9 col-sm-12">
                    <div class="panel-heading" style="width: 100%; position: absolute; top: 0px;">لیست خرید من</div>

                    {% for product in bought %}
                        <div class="col-md-2 col-xs-2" style="float: right;">
                            <div style="margin-top: 30px" class="row">
                                <div>
                                    <img src="/{{ product.picture.url|slice:"5:" }}" width="60" height="60">
                                </div>
                                <div>

                                    <a href="/shopping/view_product/{{ product.id }}">{{ product.name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div style="margin-top: 80px;" class="row">

            <div class="panel-group col-md-12 col-sm-12 col-lg-12">
                <div id="product_panel" class="panel panel-info col-md-9 col-sm-12">
                    <div class="panel-heading" style="width: 100%; position: absolute; top: 0px;">لیست فروش من</div>

                    {% for product in for_sale %}
                        <div style="margin-top: 30px" class="row">
                            <div>
                                <img src="/{{ product.picture.url|slice:"5:" }}" width="60" height="60">
                            </div>
                            <div>
                                <a href="/shopping/view_product/{{ product.id }}">{{ product.name }}</a>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}