{% extends 'base/user_base.html' %}
<head><title>داشبورد کاربر</title></head>


{% load staticfiles %}
{% load static %}

{% block content %}
    <div id="panel-header">
        <div id="panel-header" align="center">اطلاعات کاربر</div>
    </div>
{#    IF LOGGED IN USING USING GOOGLE, THE FOLLOWING CAN BE USED#}
    {{ user.socialaccount_set.all.0.extra_data.name }}
    {{ user.socialaccount_set.all.0.get_avatar_url }}
    {{ user.socialaccount_set.all.0.email_addresses }}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="panel-group col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-info col-md-3 col-sm-12">
            <div class="panel-heading">
                <div class="text-center">
                    {#                    <img src="/{{ user.document }}" width="200" height="250"#}
                    {#                         onerror="this.src='{% static "pics/default-user.jpg" %}'">#}
                </div>
            </div>
            <div align="center">:Username</div>
            <div align="center" class="panel-body">{{ shopping_user.user }}</div>
            <div></div>
        </div>

        <div class="panel panel-info col-md-9 col-sm-12">
            <div class="panel-heading">{{ shopping_user.first_name }} {{ shopping_user.last_name }}</div>

            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="شماره تلفن"
                                             value="{{ shopping_user.phone_number }}"></div>
                <div class="col-xs-6">شماره تلفن:‌</div>
            </div>

            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="ایمیل"
                                             value="{{ shopping_user.email }}"></div>
                <div class="col-xs-6">ایمیل:‌</div>
            </div>
            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="استان"
                                             value="{{ shopping_user.province }}"></div>
                <div class="col-xs-6">استان:‌</div>
            </div>
            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="شهر"
                                             value="{{ shopping_user.city }}"></div>
                <div class="col-xs-6">شهر:‌</div>
            </div>

        </div>
    </div>
    <div>
        <p>تمامی اجناس
        </p>
        {% for product in all_products %}
            {{ product.name }}
            <a href="/shopping/view_product/{{ product.id }}">مشاهده </a>
        {% endfor %}
    </div>
    <div>
        <p>لیست فروش من
        </p>
        {% for product in for_sale %}
            {{ product.name }}
            <a href="/shopping/view_product/{{ product.id }}">مشاهده </a>
        {% endfor %}
    </div>
    <div>
        <p>لیست خرید من
        </p>
        {% for product in bought %}
            {{ product.name }}
            <a href="/shopping/view_product/{{ product.id }}">مشاهده </a>
        {% endfor %}
    </div>

    <div>
        <a href="/shopping/add_product">فروش محصول</a>
    </div>
    <div>
        <a href="/shopping/search_product">جست و جوی محصولات</a>

    </div>

{% endblock %}