{% extends 'base/very_base.html' %}
<head><title>صفحه خطا</title></head>

{% load staticfiles %}
{% load static %}


{# All kind of errors are handled using this template, depending on their type#}
{# Error types are specified by 'type_xxx' variables #}
{# The apropriate error message is in 'error_message' variable #}
{# This page should show the appropriate page to the user, using the error type and error message#}
{% block content %}
    {% if type_404 %}
        <div align="center"><img src="{% static "pics/404image.png" %}" width="800"></div>
        {#        error reason: 404#}
    {% endif %}
    {% if type_already_sold %}
        {#        error reason: trying to buy product that is already sold#}
    {% endif %}
    {% if type_not_authenticated %}
        {#    error reason: user is not authenticated#}
    {% endif %}
    {% if type_product_not_found %}
        {#    error reason: trying to access a product which does not exist#}
    {% endif %}
    {% if type_user_not_found %}
        {# error reason: trying to access a user which does not exist #}
    {% endif %}
    {% if type_wrong_confirmation %}
        {# error reason: wrong email confirmation link code #}
    {% endif %}
    {% if type_wrong_reset_password %}
        {# error  reason: wrong link used to reset password #}
    {% endif %}
    {% if type_payment_unsuccessful %}
        {# error reason: payment server was down #}
    {% endif %}
    <div id="fourerror" class="container" align="center">
        <div>
            <h2>{{ error_message }}</h2>
        </div>
        <div>
            <button type="submit" onclick="goBack()" value="بازگشت" class="btn btn-primary">بازگشت</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
    </div>
{% endblock %}
