{% extends 'base/very_base.html' %}

{% block navbar-buttons %}
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/shopping/signin">ورود<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/shopping/signup">ثبت نام<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/accounts/google/login/?process=login">ورود با گوگل<span
                    class="sr-only">(current)</span></a>
        </li>
    </ul>
{% endblock %}{#    <div class="container" align="center">#}
{#        <div class="panel-body">#}
{#            Hello Friend#}
{#            <li><a href="/shopping/signin">ورود</a></li>#}
{#            <li><a href="/shopping/signup">ثبت نام</a></li>#}
{#            <li><a href="/accounts/google/login/?process=login">ورود با گوگل</a></li>#}
{#            <button type="submit" class="btn btn-primary">ورود</button>#}
{#        </div>#}
{#    </div>#}
{% block content %}

{% endblock %}