{% extends template %}

<head><title>خانه</title></head>

{#    <div class="container" align="center">#}
{#        <div class="panel-body">#}
{#            Hello Friend#}
{#            <li><a href="/shopping/signin">ورود</a></li>#}
{#            <li><a href="/shopping/signup">ثبت نام</a></li>#}
{#            <li><a href="/accounts/google/login/?process=login">ورود با گوگل</a></li>#}
{#            <button type="submit" class="btn btn-primary">ورود</button>#}
{#        </div>#}
{#    </div>#}
{% block content %}
    <div style="margin-left: 30px">

        <h1>خوش آمدید!</h1>
        <p>
            آیا می‌خواهید وسایل خود را بفروشید؟؟ یا آیا می‌خواهید چیزی بخرید ولی زیادی گرونه؟‌ در سامانه‌ی تاناکورا ثبت
            نام
            کنید و به زودی بفروشید یا بخرید!
        </p>
        <div style="margin-top: 80px" class="row">

            {#        <div class="panel-group col-md-12 col-sm-12 col-lg-12">#}

            {% for product in for_sale %}
                <div id="product_panel" style="height: 450px; width: 300px; margin-left: 90px"
                     class="panel panel-success col-md-9 col-sm-12">
                    <div class="panel-heading"
                         style="width: 100%; position: absolute; left: 0px; top: 0px;" align="center"><a
                            href="/shopping/view_product/{{ product.id }}">{{ product.name }}</a></div>
                    <div style="margin-top: 30px">
                        <div align="center">
                            <img src="/{{ product.picture.url|slice:"5:" }}" width="200" height="200">
                        </div>
                        <div align="center">
                            <p style="color: #126b15; margin-top: 10px;"><span style="color: #1c258b">دسته‌بندی: </span>{{ product.category }}</p>
                            <p style="color: #126b15;"><span style="color: #1c258b">قیمت: </span> {{ product.price }} ریال</p>
                            <p style="color: #126b15;"><span style="color: #1c258b">توضیحات: </span> {{ product.description }}</p>
                            {#                            <a href="/shopping/view_product/{{ product.id }}">{{ product.name }}</a>#}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        {#        </div>#}
    </div>

{% endblock %}


{#curl -X PUT "localhost:9200/paper_index/_settings" -H 'Content-Type: application/json' -d' {"index.blocks.read_only_allow_delete": null}'#}
{#curl -X PUT "localhost:9200/_cluster/settings" -H 'Content-Type: application/json' -d'{"persistent" : {"cluster.routing.allocation.disk.watermark.flood_stage": "99%"}}'#}