{% extends 'base/user_base.html' %}
<head><title>کد دعوت</title></head>

{% load staticfiles %}
{% load static %}


{# All kind of errors are handled using this template, depending on their type#}
{# Error types are specified by 'type_xxx' variables #}
{# The apropriate error message is in 'error_message' variable #}
{# This page should show the appropriate page to the user, using the error type and error message#}
{% block content %}

    <div align="center" id="product_panel"
         style="margin-top: 20px; height: 175px; width: 50%; margin-right: 25%; margin-left: 25%;"
         class="panel panel-success col-md-9 col-sm-12">
        <div class="panel-heading"
             style="width: 100%; position: absolute; left: 0px; top: 0px;" align="center">با لینک زیر دوستان خود را دعوت
            کنید
        </div>
        <div style="margin-top: 60px">
            <a style="font-size: 50px;" href="/shopping/signup_with_referral/{{ code }}"> {{ code }}</a>
        </div>
    </div>


    <div id="fourerror" class="container" align="center">
        <div>
            <h2>{{ error_message }}</h2>
        </div>
        <div>
            <button type="submit" onclick="goBack()" value="بازگشت" class="btn btn-primary">بازگشت</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
    </div>
{% endblock %}
