<head><title>ورود</title></head>
{% extends 'base/very_base.html' %}

{% block navbar-buttons %}
    <ul class="nav navbar-nav">
        <li><a href="/accounts/google/login/?process=login">ورود با گوگل</a></li>
        <li><a href="/shopping/signup">ثبت‌ نام</a></li>
{#        <li><a href="/shopping/signin">ورود</a></li>#}
    </ul>

{% endblock %}

{% block content %}
    {% block user_header %}
        <div id="panel-header" align="center"><h2>ورود</h2></div>
    {% endblock %}

    {% if error_message %}
        <pre class="alert alert-danger fade in alert-dismissable"
             style="width: 400px;font:10pt yekan; "> <div id="error">{{ error_message }}</div></pre>
    {% endif %}
    <div class="container" align="center">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><p></p></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="fill_out_form">
            <div class="panel-heading">
                <div id="normal-text" class="panel-title"><h2>نام کاربری و رمز خود را وارد کنید:</h2></div>
            </div>
            <div id="normal-text" class="panel-body">
                <form action="{% block action %} {% endblock %}" method="post">
                    {% csrf_token %}
                    {{ message }} {# invalid username or password error #}
                    <div class="form-group">
                        <label for="username"> نام کاربری </label>
                        <input style="text-align: left" type="text" dir="ltr" class="form-control" name="username"
                               id="username"
                               aria-describedby="usernameHelp" placeholder="نام کاربری را وارد کنید">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword"> رمز عبور </label>
                        <input style="text-align: left" type="password" class="form-control" name="password"
                               id="password"
                               placeholder="رمز عبور">
                    </div>

                    <button type="submit" class="btn btn-primary">ورود</button>
                </form>
            </div>
            {#            <div align="center" class="text-center" style="padding:50px 0">#}
            {#                <div class="logo">login</div>#}
            {#                <!-- Main Form -->#}
            {#                <div align="center" class="login-form-1">#}
            {#                    <form id="login-form" class="text-left">#}
            {#                        <div class="login-form-main-message"></div>#}
            {#                        <div class="main-login-form">#}
            {#                            <div class="login-group">#}
            {#                                <div class="form-group">#}
            {#                                    <label for="username" class="sr-only"> نام کاربری </label>#}
            {#                                    <input type="text" class="form-control" id="lg_username" name="lg_username"#}
            {#                                           placeholder="نام کاربری را وارد کنی">#}
            {#                                </div>#}
            {#                                <div class="form-group">#}
            {#                                    <label for="password" class="sr-only"> رمز عبور </label>#}
            {#                                    <input type="password" class="form-control" id="lg_password" name="lg_password"#}
            {#                                           placeholder="رمز عبور">#}
            {#                                </div>#}
            {#                                <div class="form-group login-group-checkbox">#}
            {#                                    <input type="checkbox" id="lg_remember" name="lg_remember">#}
            {#                                    <label for="lg_remember">remember</label>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>#}
            {#                            <div align="center"><button type="submit" class="btn btn-primary">ورود</button></div>#}
            {#                        </div><div class="etc-login-form">#}
            {#                            <p>forgot your password? <a href="#">click here</a></p>#}
            {#                            <p>new user? <a href="#">create new account</a></p>#}
            {#                        </div>#}
            {#                    </form>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>

    <a href="/shopping/forgot_password"> رمزعبور خود را فراموش کردم</a>
{% endblock %}
