{% load bootstrap %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lateef" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Title</title>
</head>
<body style="font-family: Arial,serif">

{#NAVBAR#}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="col-sm-4" align="center">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">تماس با ما</a></li>
                        <li><a href="/student/logout">خروج</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-4" align="center"><img alt="Brand"
                                                src={% static "pics/shariffff.png" %} {% comment %}style="height:6%;display:inline-block;"{% endcomment %}/></div>
        <div class="col-sm-4" align="center">
            <div class="navbar-header navbar-right">
                <div class="row1">

                    <h3 id="university-brand" class="pull-right">سامانه‌ی فارغ‌التحصیلی</h3></div>
            </div>
        </div>
                <a href="#" class="navbar-right"></a>

    </div>
</nav>


{% block content %}
{% endblock %}
</body>
</html>
