<head><title>صفحه‌ی کاربر</title></head>
{% extends 'base/very_base.html' %}


{#{% block content %}#}
{#    <nav class="navbar navbar-inverse">#}
{#        <div class="container-fluid">#}
{#            <div class="col-sm-4" align="center">#}
{% block navbar-buttons %}
    <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">گزینه‌ها<span
                class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/shopping/dashboard">داشبورد</a></li>
                {#                <li><a href="#">لیست فروش من</a></li>#}
                {#                <li><a href="#">لیست خرید من</a></li>#}
                <li><a href="/shopping/add_product">فروش محصول</a></li>
                <li><a href="/shopping/search_product">جست و جوی محصولات</a></li>
                <li><a href="shopping/add_product">فروش محصول</a></li>
                <li><a href="#">تماس با ما</a></li>
                <li><a href="/shopping/signout">خروج</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}



{% block content %}
    <div id="panel-header">
        {% block user_header %}

        {% endblock %}
{#        <div id="panel-header" align="center"><h2>اطلاعات کاربر</h2></div>#}
    </div>
{% endblock %}
{##}
{#            </div>#}
{#            <div class="col-sm-4" align="center"><img alt="Brand"#}
{#                                                      src={% static "pics/shariffff.png" %} {% comment %}style="height:6%;display:inline-block;"{% endcomment %}/>#}
{#            </div>#}
{#            <div class="col-sm-4" align="center">#}
{#                <div class="navbar-header navbar-right">#}
{#                    <div class="row1">#}
{##}
{#                        <h3 id="university-brand" class="pull-right">سامانه‌ی خرید دست‌دوم</h3></div>#}
{#                </div>#}
{#            </div>#}
{#            <a href="#" class="navbar-right"></a>#}
{##}
{#        </div>#}
{#    </nav>#}