<head><title>صفحه‌ی کاربر</title></head>
{% extends 'base/very_base.html' %}


{#{% block content %}#}
{#    <nav class="navbar navbar-inverse">#}
{#        <div class="container-fluid">#}
{#            <div class="col-sm-4" align="center">#}
{% block navbar-buttons %}
    <ul class="nav navbar-nav">
        <li><a href="/shopping/dashboard">داشبورد</a></li>
        <li id="all_products_btn"><a href="#">تمامی اجناس</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">گزینه‌ها<span
                class="caret"></span></a>
            <ul class="dropdown-menu" style="text-align: right">
                <li><a href="/shopping/add_product">فروش محصول</a></li>
                <li><a href="/shopping/search_product">جست و جوی محصولات</a></li>
                <li><a href="/shopping/add_location">افزودن آدرس</a></li>
                <li><a href="/shopping/increase_credit">افزایش اعتبار</a></li>
                <li><a href="#">تماس با ما</a></li>
                <li><a href="/shopping/edit_profile">ویرایش اطلاعات</a></li>
                <li><a href="/shopping/change_password">تغییر رمز عبور</a></li>
                <li><a href="/shopping/signout">خروج</a></li>
            </ul>
        </li>
        <li id="/shopping/increase_credit"><a href="#">{{ request.user.shopping_user.credit }} ریال </a></li>

    </ul>
    <div id="all_products_modal" class="modal">

        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 align="center">تمامی اجناس</h2>
            </div>
            <div class="modal-body">

                {% for product in all_products %}
                    <div class="row">
                        <div class="col-md-4">
                            <a href="/shopping/view_product/{{ product.id }}">مشاهده</a>
                        </div>
                        <div class="col-md-4">
                            {{ product.name }}
                        </div>
                        <div class="col-md-4">
                            <img src="/{{ product.picture.url|slice:"5:" }}" width="50" height="50">
                        </div>
                    </div>
                {% endfor %}
            </div>
            {#            <div class="modal-footer">#}
            {#                <h3>Modal Footer</h3>#}
            {#            </div>#}
        </div>

    </div>
    <script>
        // Get the modal
        let all_products_modal = document.getElementById('all_products_modal');
        {#let my_bought_products_modal = document.getElementById('my_bought_products_modal');#}
        {#let my_sold_products_modal = document.getElementById('my_sold_products_modal');#}

        // Get the button that opens the modal
        let all_btn = document.getElementById("all_products_btn");
        {#let bought_btn = document.getElementById("bought_products_btn");#}
        {#let sold_btn = document.getElementById("sold_products_btn");#}

        // Get the <span> element that closes the modal
        let span_all_products = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        all_btn.onclick = function () {
            all_products_modal.style.display = "block";
        }

        {#bought_btn.onclick = function () {#}
        {#my_bought_products_modal.style.display = "block";#}
        {#}#}
            {##}
            {#sold_btn.onclick = function () {#}
            {#    my_sold_products_modal.style.display = "block";#}
            {#}#}
                {##}
                {#// When the user clicks on <span> (x), close the modal#}
                span_all_products.onclick = function () {
                    all_products_modal.style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == all_products_modal) {
                        all_products_modal.style.display = "none";
                    }
                }
    </script>
{% endblock %}


{% block content %}
    <div id="panel-header">
        {% block user_header %}

        {% endblock %}
        {#        <div id="panel-header" align="center"><h2>اطلاعات کاربر</h2></div>#}
    </div>
{% endblock %}
{##}
{#            </div>#}
{#            <div class="col-sm-4" align="center"><img alt="Brand"#}
{#                                                      src={% static "pics/shariffff.png" %} {% comment %}style="height:6%;display:inline-block;"{% endcomment %}/>#}
{#            </div>#}
{#            <div class="col-sm-4" align="center">#}
{#                <div class="navbar-header navbar-right">#}
{#                    <div class="row1">#}
{##}
{#                        <h3 id="university-brand" class="pull-right">سامانه‌ی خرید دست‌دوم</h3></div>#}
{#                </div>#}
{#            </div>#}
{#            <a href="#" class="navbar-right"></a>#}
{##}
{#        </div>#}
{#    </nav>#}