{% load bootstrap %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lateef" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Title</title>
</head>
<body style="font-family: Arial,serif">

{#NAVBAR#}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" align="left"><img alt="Brand"
                                                                             src="../../static/pics/logo.png"; width="50"; height="50" />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" align="center">
{#            <div class="navbar-header navbar-right">#}
{#                <div class="row1" align="center">#}
                    <a href="/shopping/home"><h1 id="system-name" >سامانه تاناکورا</h1></a>
{#                </div>#}
{#            </div>#}
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" align="right">
            {% block navbar-buttons %}
            {% endblock %}
        </div>

        {#        <a href="#" class="navbar-right"></a>#}

    </div>
</nav>


{% block content %}
{% endblock %}
{#<div>#}
{#    <footer id="footer">#}
{#        <footer class="page-footer font-small blue pt-4">#}
{#            <div class="container-fluid text-center">#}
{#                <div style="position: relative; bottom: 0" class="row">#}
{##}
{#                    <!--Second column-->#}
{#                    <div class="col-md-4"></div>#}
{#                    <div id='head-and-foot' class="col-md-4">#}
{#                        <h5 class="title">تماس با ما </h5>#}
{#                        <div><a id='head-and-foot' href="mailto:graduation@example.com"><span#}
{#                                class="oi oi-envelope-closed" title="envelope closed" aria-hidden="true"#}
{#                                style="margin-left:1%;"></span>#}
{#                            به ما ایمیل بزنید </a>#}
{#                        </div>#}
{#                        <div><a id='head-and-foot' href="#!"><span id='head-and-foot' class="oi oi-comment-square"#}
{#                                                                   aria-hidden="true"#}
{#                                                                   style="margin-left:1%;"></span>سوالات رایج را ببینید</a>#}
{#                        </div>#}
{#                        <div><span id='head-and-foot' class="oi oi-envelope-open" title="star"#}
{#                                   aria-hidden="true"></span>#}
{#                            <p id="head-and-foot"> صندوق پستی: ۱۱۱۵۵-۱۱۳۶۵</p>#}
{#                        </div>#}
{#                        <div><a id='head-and-foot' href="#!"></a><span id='head-and-foot' class="oi oi-map-marker"#}
{#                                                                       title="social twitter" aria-hidden="true"#}
{#                                                                       style="margin-left:1%;"></span>#}
{#                            <p id="head-and-foot">تهران،خیابان آزادی،دانشگاه صنعتی شریف.</p>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <!--/.Second column-->#}
{#                </div>#}
{#            </div>#}
{#            <!--/.Footer Links-->#}
{##}
{#            <!--Copyright-->#}
{#            <div class="footer-copyright">#}
{#                <div class="container-fluid text-right text-center">#}
{#                    © کلیه حقوق مربوط به <a id='head-and-foot' href="https://www.p.com"> گروه پاص </a> است.#}
{##}
{#                </div>#}
{#            </div>#}
{#        </footer>#}
{#    </footer>#}
{#</div>#}

{#<div class="special-footer" style="max-height: 100px">#}
{#    <div class="container-fluid text-center">#}
{#        <div style="position: relative; top:10px; bottom: 0" class="row">#}
{##}
{#            <!--Second column-->#}
            {#            <div class="col-md-8"></div>#}
{#            <div id='head-and-foot' class="col-md-12">#}
{#                <h5 class="title col-md-2" style="float: right;">تماس با ما </h5>#}
{#                <div class="col-md-2" style="float: right;"><a id='head-and-foot' href="mailto:graduation@example.com"><span#}
{#                        class="oi oi-envelope-closed" title="envelope closed" aria-hidden="true"#}
{#                        style="margin-left:1%;"></span>#}
{#                    به ما ایمیل بزنید </a>#}
{#                </div>#}
{#                <div class="col-md-2" style="float: right;"><a id='head-and-foot' href="#!"><span id='head-and-foot' class="oi oi-comment-square"#}
{#                                                           aria-hidden="true"#}
{#                                                           style="margin-left:1%;"></span>سوالات رایج را ببینید</a>#}
{#                </div>#}
{#                <div class="col-md-2" style="float: right"><span id='head-and-foot' class="oi oi-envelope-open" title="star"#}
{#                           aria-hidden="true"></span>#}
{#                    <p id="head-and-foot"> صندوق پستی: ۱۱۱۵۵-۱۱۳۶۵</p>#}
{#                </div>#}
{#                <div><a id='head-and-foot' href="#!"></a><span id='head-and-foot' class="oi oi-map-marker"#}
{#                                                               title="social twitter" aria-hidden="true"#}
{#                                                               style="margin-left:1%;"></span>#}
{#                    <p id="head-and-foot">تهران،خیابان آزادی،دانشگاه صنعتی شریف.</p>#}
{#                </div>#}
{##}
{#            </div>#}
{#            <!--/.Second column-->#}
{#        </div>#}
{#    </div>#}
{#    <!--/.Footer Links-->#}
{##}
{#    <!--Copyright-->#}
{#    <div class="footer-copyright">#}
{#        <div class="container-fluid text-right text-center">#}
{#            © کلیه حقوق مربوط به <a id='head-and-foot' href="https://www.p.com"> گروه ناص </a> است.#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}


</body>

</html>
